/* @font-face {
	font-family: EHMSFont;
	src: url(../fonts/Candara.ttf);
} */
body {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 12px;
}

#page-wrapper {
	height: 100%;
	background-color: #FFFFFF;
}

#content-wrapper {
	height: 100%;
}

.page-content {
	height: 100%;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.logo {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	padding: 5%;
}

.menu {
	overflow: visible;
	clear: both;
	/* background-color: #000000;
	color: #FFF; */
	postion: fixed;
	top: 0px;
	width: 100%;
	display: block;
	width: 100%
}

.contentpan {
	/* 	background-color: #FFFFFF;
 */
	overflow: auto;
	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1; /* OLD - Firefox 19- */
	-webkit-flex: 1; /* Chrome */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* NEW, */
}

.content {
	height: 100%;
	overflow: auto;
	padding: 1%;
}

.top {
	height: 65%;
	overflow: auto;
}

.bottom {
	height: 35%;
	overflow: auto; /* 
	border-style: solid;
	border-color: #888a85 #fff #fff #888a85; */
	/* background-color: transparent; */ /* #EBE8E8; */
}

.device-menu {
	background-color: transparent;
	display: block;
	width: 100%;
	/* 	border-color: #555753 */
}

.panel-default>.panel-heading {
	color: #333;
	background-color: transparent;
	border-color: #ddd;
}

.sidebar {
	/* background-image: url("../../img/sideback.jpg"); */
	background-color: #000000;
	height: 100%
}

.md-nav-bar {
	border-style: solid;
	border-width: 0 0 0px;
	height: 35px;
	position: relative
}

.md-nav-item {
	margin-left: 8px;
	color: #babdb6;
}

.box1 {
	border-style: solid;
	border-width: 1px 0 1px 0px;
	font-size: 16px;
	border-color: #888a85;
	background-color: transparent; /* #ECECEC; */
	padding-left: 10px;
	padding-right: 10px;
}

.box2 {
	padding-left: 10px;
	padding-right: 10px;
}

/* .box{
	background-color: transparent;#EEEAD9;
	color: #261c13;
} */
.md-button {
	
}

.sidebar {
	color: #FFFFFF;
}

div.sidebar a:link {
	color: #FFFFFF;
}

div.sidebar a:visited {
	color: #FFFFFF;
}

div.sidebar a:hover {
	color: #d3d7cf;
}

div.sidebar a:active {
	color: #888a85;
}

md-tabs
>
md-tabs-wrapper
>
md-tabs-canvas
>
md-pagination-wrapper
>
md-tab-item


:not


	

(
[
disabled
]

 

)
{
/* color: #2e3436 !important; */
}
md-tabs>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	 ([disabled] ).md-active, md-tabs>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	 ([disabled] ).md-active md-icon, md-tabs.md-accent>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	 ([disabled] ).md-active md-icon, md-tabs.md-default-theme.md-accent>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	 ([disabled] ).md-focused, md-tabs.md-default-theme.md-accent>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not
	 ([disabled] ).md-focused md-icon {
	color: #000000 !important;
	background-color: #cc0000;
}

md-tabs>md-tabs-wrapper {
	background-color: transparent !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
	color: #babdb6 !important;
	background-color: #888a85 !important;
}

.somecol {
	background-color: transparent !important; /* Tab background Color */
}

@media ( min-width : 900px) {
	[dynamic-layout] {
		width: 900px;
		margin-top: 20px;
	}
	.dynamic-layout-col-4 {
		width: 300px;
	}
	.dynamic-layout-col-8 {
		width: 600px;
	}
}

@media ( min-width : 600px) and (max-width: 900px) {
	[dynamic-layout] {
		width: 600px;
	}
	.dynamic-layout-col-4 {
		width: 300px;
	}
	.dynamic-layout-col-8 {
		width: 600px;
	}
}

@media ( max-width : 600px) {
	[dynamic-layout] {
		width: 300px;
	}
	.dynamic-layout-col-4 {
		width: 300px;
	}
	.dynamic-layout-col-8 {
		width: 300px;
	}
}

.dynamic-layout-item {
	padding: 10px;
}

.move-items-animation {
	transition-property: left, top;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.dynamic-layout-item-parent.ng-enter {
	transition: .5s ease-in-out;
	opacity: 0;
}

.dynamic-layout-item-parent.ng-enter.ng-enter-active {
	opacity: 1;
}

.dynamic-layout-item-parent.ng-leave {
	transition: .5s ease-in-out;
	opacity: 1;
}

.dynamic-layout-item-parent.ng-leave.ng-leave-active {
	opacity: 0;
}

[dynamic-layout] {
	float: left;
	position: relative;
}

.container-fluid {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

/*###################################*/
.vertical-align {
	display: flex;
	flex-direction: row;
}

.vertical-align>[class^="col-"], .vertical-align>[class*=" col-"] {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-align>[class^="col-"]>div, .vertical-align>[class*=" col-"]>div
	{
	flex-grow: 1;
}

.widget {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	color: #000;
	background: rgba(213, 215, 228, 0.18);
	border: 1px transparent;
	border-radius: 2px;
	border-color: #204a87;
	/* opacity: .40; Standard: FF gt 1.5, Opera, Safari, CSS3
    filter: alpha(opacity=40); IE lt 8
    -ms-filter: "alpha(opacity=40)"; IE 8
    -khtml-opacity: .40; Safari 1.x
    -moz-opacity: .40; FF lt 1.5, Netscape */
}

.dashboard {
	background-image: url("../../img/dashboard_background5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.dashboard a:link {
	color: #FFF;
}

.dashboard a:visited {
	color: #FFF;
}

.dashboard a:hover {
	color: #FFF;
}

.dashboard a:active {
	color: #FFF;
}

.widget .widget-content .comment {
	font-weight: bold;
	font-size: 12px;
	display: block
}

.widget .widget-header {
	color: #FFFFFF;
	background-color: #1b1d1c;
	padding: 10px 15px;
	border-bottom: 1px solid #204a87;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}

.dashboardchart {
	display: block;
	background: rgba(213, 215, 228, 0.18);
	color: #000000;
	/* opacity: .70; Standard: FF gt 1.5, Opera, Safari, CSS3
    filter: alpha(opacity=70); IE lt 8
    -ms-filter: "alpha(opacity=70)"; IE 8
    -khtml-opacity: .70; Safari 1.x
    -moz-opacity: .70; FF lt 1.5, Netscape */
}

.chart {
	position: relative;
	left: 25%;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-top: 23px;
	margin-bottom: 50px;
	text-align: center;
}

.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.percent:after {
	content: "% \A" attr(title);
	margin-left: 0.1em;
	font-size: .8em;
}

.percent {
	font-size: 16px;
	color: #000;
	display: inline-block;
	margin-top: 55px;
	/* line-height: 110px; */
	white-space: pre;
	z-index: 2;
}

.navbar-brand2 {
	height: 50px;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
}