/* just for preview */
.container {
    padding-top: 10px;  
     padding-right: 10px;  
      padding-left: 10px;  
}

@media ( max-width: 5px ) {
    .input-group span.input-group-btn,.input-group input,.input-group button{
        display: block;
        width:10%;
        border-radius: 0;
        margin: 10;
    }
    .input-group {
        position: relative;   
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .form-control.text-center {
        margin: 14px 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:10;
    }

}